<div class="about">
    <dl>
        <dt>About Us</dt>
        <dt>&nbsp;</dt>
        <dd>Troy Telugu Association (TTA) is formed in 2005 to serve Telugu
            citizens in Metro Detroit Area, Michigan.</dd>
        <dd>Our purpose is to promote and pass Telugu language, culture,
            music, dance, and drama among the younger generations and to others
            around the community by hosting Ugadi, Deepavali and many cultural
            events annually.</dd>
    </dl><br><br><br>
    <a href="#contact" style="text-decoration: none; color: #4EB1BA"> If you have any
        questions or want to join please contact us. </a>
</div>