<div ng-controller="eventController" id="envelope">
    <div>
        <h3 style="text-align:center">Event Archives </h3>
        <ul style="list-style-type: none;">
            <li  ng-repeat="event in events">
                <span class="glyphicon glyphicon-star">                    
                </span>&nbsp;&nbsp;
                <a style="color: #9f0202; font-size: medium; font-family: sans-serif; " ng-click="displayEventPics(event.event)"><b>{{event.desc}}</b></a></li>
        </ul>
    </div>
    <div ng-show="showPics">
        <div class="container-slider">            
            <img active="slide.active" width="20%" height="20%" style="border: 2px solid black" ng-repeat="photo in photos" class="slide" ng-src="{{photo.src}}">           
        </div>
    </div>
</div>

