<div class="scroll-right">
    <p>
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        TTA 10th Anniversary - Wish you all a happy and prosperous Deepavali!
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
    </p>
</div>
<br>