<div class="scroll-right">
    <p>
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        Thanks to all for making Ugadi 2017 Celebrations a grand success!
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
    </p>
</div>
<br>
        <!--
        హేవిళంబి నామ సంవత్సర ఉగాది శుభాభినందనలు
        -->
