<div class="scroll-right">
    <p>
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        హేవిళంబి నామ సంవత్సర ఉగాది శుభాభినందనలు
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
        <img src="../resources/images/star.jpg" alt="smiley face" height="20px" width="20px" />
    </p>
</div>
<br>