
<div>
    <br>
    <h4 align="center">
        <strong>SPONSORSHIP REQUEST</strong>
    </h4>

    <h5>Dear Sponsor,</h5>

    <p style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px;">As you know that Troy Telugu Association&#146;s mission is to provide a stage to local Indian community that are in and around
            Troy to celebrate Indian cultural activities. In this aspect we greatly appreciate your support in years past. Now for upcoming
            Ugadi Celebrations we are anxiously looking forward for your continuous support to make the event even greater success, which
            will be held in Q2 2017.</p>
        <br>
        <p>Below are the details concerning this year&#146;s sponsorship levels:</p>
        <br>
        <table>
            <tr>
                <th><strong>$2,000 &#150; Platinum Sponsorship:</strong></th>
                <th><strong>$1,000 &#150; Gold Sponsorship: </strong></th>
                <th> <strong> $500 &#150; Silver Sponsorship: </strong></th>
            </tr>
            <tr>
                <td>
            <ul style="list-style-type: circle;">
                <li>Your Organization logo will be printed on all the TTA Event Flyers.</li>
                <li>Your Organization banner will be displayed during the event.</li>
                <li>Your Organization logo will be run at digital screens during the event.</li>
                <li>A table/stall will be provided at the entrance.</li>
                <li>Your company Logo will be kept in the TTA website.</li>
                <li>In our newsletters your company name will be published.</li>
            </ul>
                </td>
            
                
                <td>
            <ul style="list-style-type: circle;">
                <li>Your Organization logo will be printed on all the TTA Event Flyers.</li>
                <li>Your Organization logo will be run at digital screens during the event.</li>
                <li>A table/stall will be provided at the entrance.</li>
                <li>Your Logo will be kept in the TTA website.</li>
            </ul>
                </td>
   
                
        <td>
            <ul style="list-style-type: circle;">
                <li>Your Organization logo will be run at digital screens during the event.</li>
                <li>A table/stall will be provided at the entrance.</li>
            </ul>
        </td>
            </tr>
        </table>
    <dl>
        <dd>If your organization would like to participate in this
            year&#146;s event as a sponsor, please contact us with the amount
            of your donation. Thank you for your time and consideration.</dd>
    </dl>

    <br>

    <h5>
        <strong>Thank You</strong>
    </h5>

    <h6>For</h6>

    <h5>
        <strong>TROY TELUGU ASSOCIATION</strong>
    </h5>
</div>