<style>
    .sponsor{
        margin:30px;
    }
</style>

<div class="sponsor">
    <br>
    <h4 align="center">
        <strong>SPONSORSHIP REQUEST</strong>
    </h4>

    <dl>
        <dt>Dear Sponsor,</dt>

        <dd>As you know that Troy Telugu Association&#146;s mission is to
            provide a stage to local Indian community that are in and around
            Troy to celebrate Indian cultural activities. In this aspect we
            greatly appreciate your support in years past. Now for upcoming
            Ugadi Celebrations we are anxiously looking forward for your
            continuous support to make the event even greater success, which
            will be held in Q2 2017.</dd>
        <dd>Below are the details concerning this year&#146;s sponsorship levels:</dd>
        <br>
    </dl>

    <dl>
        <strong>$2,000 &#150; Platinum Sponsorship:</strong>
        <dd>
            <ul style="list-style-type:upper-alpha;">
                <li>Your Organization logo will be printed on all the TTA Event Flyers.</li>
                <li>Your Organization banner will be displayed during the event.</li>
                <li>Your Organization logo will be run at digital screens during the event.</li>
                <li>A table/stall will be provided at the entrance.</li>
                <li>Your company Logo will be kept in the TTA website.</li>
                <li>In our newsletters your company name will be published.</li>
            </ul>
        </dd>
    </dl>

    <dl>
        <strong>$1,000 &#150; Gold Sponsorship: </strong>
        <dd>
            <ul style="list-style-type:upper-alpha;">
                <li>Your Organization logo will be printed on all the TTA Event Flyers.</li>
                <li>Your Organization logo will be run at digital screens during the event.</li>
                <li>A table/stall will be provided at the entrance.</li>
                <li>Your Logo will be kept in the TTA website.</li>
            </ul>
        </dd>
    </dl>

    <dl>
        <strong> $500 &#150; Silver Sponsorship: </strong>
        <dd>
            <ul style="list-style-type:upper-alpha;">
                <li>Your Organization logo will be run at digital screens during the event.</li>
                <li>A table/stall will be provided at the entrance.</li>
            </ul>
        </dd>
    </dl>

    <dl>
        <dd>If your organization would like to participate in this
            year&#146;s event as a sponsor, please contact us with the amount
            of your donation. Thank you for your time and consideration.</dd>
    </dl>

    <br>

    <h5>
        <strong>Thank You</strong>
    </h5>

    <h6>For</h6>

    <h5>
        <strong>TROY TELUGU ASSOCIATION</strong>
    </h5>
</div>